<h1>Welcome to Burger Barn!</h1>

<h2 class="eaten">Burgers you have eaten!</h2>

<ul class="eaten">
  {{#each burgers}}
    {{#unless devoured}}
    <li>{{this.burger_name}}</li>
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 class="not-eated">Burgers you haven't eaten!</h2>

<ul class="not-eaten">
  {{#each burgers}}
    {{#if devoured}}
    <li>{{this.burger_name}}</li>
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-burger">

  <div class="form-group">
    <label for="add">Burger name:</label>
    <input type="text" id="add" name="burger_name">
  </div>

  <button type="submit">Add a Burger!</button>
</form>